link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
link(rel='icon', type='image/png', sizes='192x192',  href='img/favicon/android-icon-192x192.png')
link(rel='manifest', href='img/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#69a5d9')
meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
meta(name='theme-color', content='#69a5d9')
