extends _layout

block content
	form(id="input-form" action="/block" method="post")
		.form-group
			label(for="serial-number") Write in the last nth number of block you want to view :
			input(type="text" class="form-control" id="inputBlockNo" aria-describedby="block-number-help" placeholder="Enter block number" name="blockNo")
			br

	.card.mb-3
		.card-header
			i.fas.fa-table  Block Table
		.card-body
			.table-responsive
				// Table
				table(class="table table-bordered table-responsive-md table-striped text-center" id="blockTable" width="100%")
						thead
							tr
								th.text-center ID.
								th.text-center Fingerprint
						tbody

block scripts
	script(src="vendor/dist/jquery.validate.min.js")
	script(src="js/validateForm.js")
	script(src="js/blockTable.js")