extends _layout
block static
	link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css")
	link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
	link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css")
	link(rel="stylesheet" type="text/css" href="css/dataTable.css")
block content
	.card.mb-3
		.card-header
			i.fas.fa-table  Data Table
		.card-body
			.table-responsive
				// Table
				table(class="table table-bordered table-responsive-md table-striped text-center" id="dataTable" width="100%")
						thead
							tr
								th.text-center No.
								th.text-center Serial Number
								th.text-center Owner
								th.text-center Function
								th.text-center Function
								th.text-center History
						tbody
block scripts
	script(type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
	script(type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
	script(type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js")
	script(src="js/validateForm.js" type="text/javascript" )
	script(src="js/dataTable.js" type="text/javascript" )
	
