extends _layout

block content
    h1.display-1 404
    p.lead Page Not Found. You can
        | 
        a(href="javascript:history.back()") go back
        | 
        | to the previous page, or
        | 
        a(href="/") return home 